.main-article {
    width: 500px;
    margin:100px;
    padding: 100px;
    border: 10px solid black;
    background-color: rgb(255,192,68, 1.0);
}

.main-text {
    text-align: left;
}

.main-text h1 {
    font-size: 45px;
    padding-bottom: 50px;
}

.main-text p {
    font-size: 25px;
}