.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  place-content: center;
}
h2 {
  background-color: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 20px;
  margin: 0px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
}
body {
  margin: 0px;
}
