div {
  border: 2px solid #ccc;
  padding: 20px 20px 40px 20px;
  margin-top: 40px;
}
span {
  background-color: #e7e7e7;
  padding: 10px;
  border: 2px solid #ccc;
  position: relative;
  top: -20px;
}
