body{
    font-family: 'Fredoka', sans-serif;
    background : #D8B4F8;
    background : linear-gradient(90deg, rgba(216, 180, 248, 1) 0%, rgba(239, 216, 210, 1) 50%, rgba(255, 244, 181, 1) 100%);
}

.container{
  margin: 2% 25%;

}

.form{
  display: grid;
  margin: 8% 20%;
  gap: 8%;
}

.title_text{
 text-align: center;
}
